.container.landing-page
  .row.hero
    .col-md-5
      %h1 Add reporting to your Rails app in minutes, not months
      %p
        ReportsKit is a gem that lets you easily configure interactive charts and tables in your Rails app.
      %p
        = link_to 'Get Started!', category_path('getting_started'), class: 'btn btn-primary btn-large btn-xlarge'
    .col-md-7
      .device
        .screen
          = image_tag 'https://raw.githubusercontent.com/tombenner/reports_kit/master/docs/images/demo.gif?raw=true', class: 'img-responsive'
  %hr
  .row
    .col-md-4
      %h3.text-center Quick setup
      %p Install and create your first chart in less than two minutes!
      %p
        = link_to 'Get started!', category_path('getting_started')
    .col-md-4
      %h3.text-center Simple configuration
      %p To simplify implementation and maintenance, each report only requires a single YAML file and a line of view code. If you need to write raw SQL, that's supported, too!

    .col-md-4
      %h3.text-center Powerful features
      %p Many chart types, customizable tables, form controls, CSV/Excel downloads, composite series, custom aggregations, caching, concurrent queries, and more!

  %hr

  %a{ name: 'features' }
  .row
    .col-md-12.text-center
      %h1 Features
      %p.text-muted This is just a subset of ReportsKit's many features. Browse the rest of this site to see more!
      %br

  .row
    .col-md-4
      %h3.text-center
        = link_to 'Form filters', subcategory_path('interaction_filters')
      %br
      %p Add date range filters, autocompletes of associated models, check boxes filters, and more with just a single line in your view.
    .col-md-4
      %h3.text-center
        = link_to 'Tables', subcategory_path('tables')
      %br
      %p Change a chart into a table with a single line of YAML. Tables are sortable and have almost exactly the same configuration as charts.
    .col-md-4
      %h3.text-center
        = link_to 'Chart customization', category_path('visualization')
      %br
      %p Customize a large variety of chart types by using any of Chart.js's options in the report's YAML file.

  .row
    .col-md-4
      %h3.text-center
        = link_to 'Multiple series', example_path('series_multiple')
      %br
      %p Easily create reports of multiple series with optional form filters, or use a composite series to show the percentage, sum, or difference of multiple series.
    .col-md-4
      %h3.text-center
        = link_to 'Record-scoped reports', subcategory_path('contextual_filters')
      %br
      %p Create reports showing the data associated with a single User record (or any other records or scopes) using #{link_to('contextual filters', subcategory_path('contextual_filters'))}.
    .col-md-4
      %h3.text-center
        = link_to 'CSV/Excel downloads', subcategory_path('actions')
      %br
      %p Let users easily download data with the built-in CSV and Excel download buttons.

  %hr

  %a{ name: 'examples' }
  .row
    .col-md-12.text-center
      %h1 Examples
  .row
    .col-md-6.col-md-offset-3
      %h3.text-center Your existing model
      %br
      %p ReportsKit works with your existing ActiveRecord models. Let's say that you have a <code>Post</code> model with a <code>belongs_to :author</code> association:
    .col-md-6.col-md-offset-3
      %pre
        = preserve do
          :escaped
            class Post < ApplicationModel
              belongs_to :author
            end

  %br
  .row
    .col-md-12.text-center
      %h3 Example #1: Bar chart
      %br
      %br
  .row
    .col-md-6
      %p Given the <code>Post</code> model above, you can create a bar chart that shows the number of posts per author with just three lines of YAML and one line in the view:
      = render partial: 'examples/config_and_view', locals: { example: @example, chart_position_text: 'on the right' }
    .col-md-6
      = render partial: 'examples/render_report', locals: { example: @example }
  %hr
  .row
    .col-md-12.text-center
      %h3 Example #2: Area chart with filters
      %br
      %br
  .row
    .col-md-6
      %p Given the <code>Post</code> model above, you can also create an area chart that has form filters with just a few more lines of YAML and view code:
      %br
      = render partial: 'examples/config_and_view', locals: { example: @example_2, chart_position_text: 'on the right' }
    .col-md-6
      = render partial: 'examples/render_report', locals: { example: @example_2 }
  %hr
  .row
    .col-md-6.col-md-offset-3.text-center
      %h3 Want to create reports for your models?
      %br
      %br
      %p
        = link_to 'Get Started!', category_path('getting_started'), class: 'btn btn-primary btn-large btn-xlarge'
  %hr
  %br
  %br
