.row
  .col-md-12
    = render partial: 'examples/render_report', locals: { example: example }
    %br
    %br
    %br
    %hr
.row
  .col-md-7
.row
  .col-md-7
    = render partial: 'examples/config_and_view', locals: { example: example }
  .col-md-5
    %h4 Model
    - model_path = "app/models/#{example.model_filename}.rb"
    - model_content = File.read(Rails.root.join(model_path))
    %p
      %code
        = model_path
    %pre
      = model_content
    %br
    %h4 Model's Columns
    - model = example.model_filename.camelize.constantize
    %pre
      - model.columns.each do |column|
        = "#{column.name.ljust(15)} #{column.type}"
        \
